body {
  background: #c8d5ec
}

nav img {
  width: 270px;
  height: 270px;
  padding: 10px;
  margin-left: 5px;
  border: none;
  border-radius: 30px;
  
}


.fundo {
  background: white;
  width: 300px;
  height: 500px;
  margin-left: 35%;
  margin-top: 2cm;
  border-radius: 10px;
}

nav p {
  text-align: center;
}

.txt1 {
  font-size: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 19px;
  letter-spacing: 2px;
  word-spacing: 2.8px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.rodape {
  border: 1px transparent solid;
  background-color: rgb(182, 181, 179);
  border-radius: 3px;
  
}
